.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.spacer-top {
    margin-top: 20px;
}

.row-title {
    text-transform: uppercase;
    color: #a8a8a8;
    margin: 0px 0px 5px 8px;
}


.jumbotron-bg {
  background:   url(../img/jumbotron/jumbotron-bg-1.png) no-repeat center center;
  position:     fixed;
  width:        100%;
  height:       500px;
  top:          60px;
  left:         0;
  z-index:      -1;
}

.jumbotron {
    background:transparent;
    color: #ffffff;
    height: 500px;
}

.jumbotron h1 {
    font-weight: bold;
    letter-spacing:8px;
    margin: 0px;
    text-transform: uppercase;
}

.jumbotron p {
    letter-spacing:2px;
    margin: 0px;
}



.inherit-height {
    height: inherit;
}








.article-row {
    height:                 50px;
}



.article-list-item {
    height:                 40px;
    display:                -webkit-box;
    display:                -webkit-flex;
    display:                -moz-box;
    display:                -ms-flexbox;
    display:                flex;
    -webkit-flex-align:     center;
    -ms-flex-align:         center;
    -webkit-align-items:    center;
    align-items:            center;
}

.article-list-item input {
    border:                 none;
    box-shadow:             none;
    height:                 inherit;
}

.article-list-item input:focus {
    background-color: yellow;
}

.article-list-header {

    height:                 50px;
    display:                -webkit-box;
    display:                -webkit-flex;
    display:                -moz-box;
    display:                -ms-flexbox;
    display:                flex;
    -webkit-flex-align:     center;
    -ms-flex-align:         center;
    -webkit-align-items:    center;
    align-items:            center;
}

.article-row > td .discount-cell {
    padding: 0px;
}